{% extends "layout.html" %}

{% block title %} - Power Boat Racing {% endblock %}

{% block body %}
<h3>Union </h3>

* hem takım kaptanı olan hemde eski yarışlarda derecesi olan kişiler
<table border="1">

		<tr>
			<th> </th>
			<th>id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
			<th>Person&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>

		</tr>
		 {% for id,person in union %}
			<tr>
				<td></td>
				<td> {{id}}   </td>
				<td> {{person}}   </td>

	    </tr>
		{% endfor %}
<table>

<hr>


<br><hr><a href="/drivers"> Return Back ! </a>

{% endblock %}