{% extends "WaterPolo/WaterPolo_Layout.html" %}

{% block title %} - Update Water Polo Player{% endblock %}

{% block body %}
<h1> Update Team </h1>




<form action="{{ url_for('Water_Polo') }}" method="post">
		<table class="table table-bordered">
			<thead>

		<tr class = "danger">
			<th> </th>
			<th>Team Name</th>
			<th>Team City</th>
			<th>Team Point</th>
			<th>Stands</th>
		</thead>
	<tbody>
		</tr>
		{% for team_id,team_name,team_city,team_point,stand in team %}
		<tr class = "success">
				<td> <input type="radio" name="select"value="{{team_id}}" /> </td>
				<td> {{team_name}} </td>
				<td> {{team_city}} </td>
				<td> {{team_point}} </td>
				<td> {{stand}} </td>

	    </tr>
	    {% endfor %}

	    <tr>
			<td> </td>
			<td> <input type="text" name="team_name" value="" />    </td>
			<td> <input type="text" name="team_city" value="" /> </td>
			<td> <input type="text" name="team_point" value="" /> </td>
			<td> <input type="text" name="stand" value="" /> </td>
	</table>
	 <input style = "margin:25px"  type="submit" name="Update_Team" value="Update Team" class="btn btn-danger btn-md"  />


</form>
{% endblock %}